SysSimX.code-workspace

# Python
__pycache__/
*.pyc
*.pyo

# Virtual Environment
VenvSysSimX/

# Visual Studio Code
.vscode/

# Pytest Cache
.pytest_cache/
.mypy_cache/
.ruff_cache/

# FMU logs
*_log.txt

# Documentation
docs/_build/*
*.html

# Result Artifacts 
demos/ControlledPendulum/artifacts/results/*

*.vtu
.covergage
htmlcov/
examples/FMI/FMUs
syssimx.egg-info/
*.html

*.ipynb_checkpoints/
*.log
docs/tutorials/tool_integration/modelica/cvode_new/
docs/tutorials/tool_integration/modelica/euler_new/
docs/tutorials/tool_integration/modelica/cvode_old/
docs/tutorials/tool_integration/modelica/euler_old/
system_graph
system_graph.svg
docs/tutorials/tool_integration/modelica/*.fmu
docs/tutorials/tool_integration/fem/animations/fem_pendulum_swing.mp4
docs/tutorials/tool_integration/fem/animations/fem_pendulum_swing.gif
