SysSimX.code-workspace

# Python
__pycache__/
*.pyc
*.pyo

# Virtual Environment
VenvSysSimX/

# Visual Studio Code
.vscode/

# Pytest Cache
.pytest_cache/
.mypy_cache/
.ruff_cache/

# FMU logs
*_log.txt

# Documentation
docs/_build/*
*.html

*.vtu
.covergage
htmlcov/
examples/FMI/FMUs
syssimx.egg-info/
*.html
